.navbar-item:hover, #flag-fr, #flag-fr, .bouncy
    animation: bounce-a-tad-bit .5s
    -webkit-animation: bounce-a-tad-bit .5s

//destined for navbar items and flags 
@keyframes bounce-a-tad-bit
    0%
        transform: scale(1)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)

@-webkit-keyframes bounce-a-tad-bit
    0%
    -webkit-transform: scale(1)
    50%
    -webkit-transform: scale(1.1)
    100%
    -webkit-transform: scale(1)

.is-link-in-section
    color: inherit
    background: linear-gradient(to bottom, rgba(245, 98, 0, 0.4) 0%, rgba(245, 98, 0, 0.4) 100%)
    background-position: 0 100%
    background-repeat: repeat-x
    background-size: 2px 2px
    text-decoration: none
    transition: all .2s
    &:hover
        background-size: 4px 50px
