
.hero-head
    padding-top: 3.25rem
    padding-left: $hero-padding-left
    padding-right: $hero-padding-right
    padding-bottom: 1rem

.hero-body
    padding-top: 0
    padding-bottom: 2rem
    padding-left: $hero-padding-left
    padding-right: $hero-padding-right

//MAURICE:

.hero.is-info .title,  .hero.is-info .subtitle
    color: white
    text-shadow: 1px 1px 5px #3835352f
