@import "~/node_modules/bulma/bulma.sass";
@import "~/node_modules/bulma-timeline/src/sass/index.sass";

@font-face
  font-family: "Kano"
  src: url("~assets/fonts/Kano.otf") format("truetype")

body
  font-family: "Kano", sans-serif

div.has-navbar-fixed-top
  padding-top: 3.25rem