$tablet: 568px

$hero-padding-left: 1.5rem
$hero-padding-right: 1.5rem
$card-footer-border-top: 0px

$card-radius: 0.75rem

// @import "~/assets/css/variables_maurice.sass"
@import "~/assets/css/France/variables_france.sass"
@import "~/node_modules/bulma/bulma.sass"
@import "~/node_modules/bulma-timeline/src/sass/index.sass"

@import "~/assets/css/Global/fonts.sass"
@import "~/assets/css/France/fr_font_styling.sass"

@import "~/assets/css/Global/hero-custom.sass"
@import "~/assets/css/Global/display-components.sass"
@import "~/assets/css/Global/io-animations.sass"
@import "~/assets/css/Global/cards.sass"
@import "~/assets/css/Global/carousel.sass"
@import "~/assets/css/Global/designs.sass"
// @import "~/assets/css/scrollsnap.sass"

//@import "~/assets/css/Global/transitions.sass"

//global, for both fr, mru navbar-items and flags in navbar
@import "~/assets/css/Global/animate-components-on-hover.sass"
