@font-face {
    font-family: "Kano";
    src: url("~assets/fonts/Kano.otf") format("truetype");
   }

body {
    font-family: "Kano", sans-serif;
}

div.has-navbar-fixed-top{
    padding-top: 4rem;
  }
