
body, input, textarea,  button
    font-family: "Libre Baskerville", "Open Sans", "Lato", "Work Sans regular", sans-serif

h1
    font-family: "Bodoni Moda", "Libre Baskerville", "GTSuperDisplaySuper", "Work Sans bold", sans-serif
    font-weight: 400

//France Landing page
.grand-title
    font-family: "Bodoni Moda", "Libre Baskerville", "GTSuperDisplaySuper", "Work Sans bold", sans-serif
    color: #fff
    font-weight: 700

.grand-subtitle
    color: #fff

.hyphenize
    overflow-wrap: break-word
    word-wrap: break-word
    -ms-word-break: break-all
    word-break: break-all
    word-break: break-word
    -ms-hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto
    hyphens: auto
